---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ben Polinsky - Developer-Rapper-Philospher-King </title>
	</head>
	<body>
		<header>
			<h1>Ben Polinsky's Home on the Web</h1>
		</header>
		
		<main>
			<section>
				<p>More about me: </p>
			</section>
		</main>
	</body>
</html>
