---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting.tsx";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<section>
			<Greeting client:load messages={["hi", 'yo', 'aloha', 'bonjour']}/>
			<p>Yeah I'm a developer rapper</p>
		</section>
	</main>
</BaseLayout>
