---
import Social from "./Social.astro";
const platform = "GitHub";
const username = "benpolinsky";
---

<footer>
    <p>
        Learn more about my projects on <Social
            platform={platform}
            username={username}
        />
    </p>
</footer>
